/* Ember supports plain CSS out of the box. More info: https://cli.emberjs.com/release/advanced-use/stylesheets/ */

img {
    width: 100%;
}

.icon {
    width: 50px;
    width: 50px;
}

.category-span-container {
    display: inline-block;
    line-height: 2.5em;
}

.category-span {
    background-color: #0d6efd;
    color: white;
    border-radius: 5px;
    padding: 5px;
}